<table width="75%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td><img src="{{logo}}" style="display:block; float:right;"></td>
    </tr>
  <tr>
      <td colspan="2"><font style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; margin:15px 0px 10px 20px; color:#666; display:block;">Señores:<br> <i>{{access}}</i></font> </td>
  </tr>
  <tr>
    <td colspan="2">
    	<font style="display:block; width:90%; float:left; margin:20px 15px 10px 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666;">
            Usted ha solicitado los datos de acceso a la aplicación de certificados de impuestos:  
            <ul>
                <li>Usuario: {{username}}</li>
                <li>Clave: {{password}}</li>
            </ul>
        </font> 
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#c7c7c7" height="30px"><font style="display:block; width:90%; float:left; margin:20px 15px 10px 20px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666">COPIDROGAS - Autopista Bogotá - Medellín, kilómetro 4.7, costado norte antes del puente de Siberia. Conmutadores: 437 5100 - 437 5150 </font> </td>
  </tr>
</tbody>
</table>