<style type="text/css">
    .Estilo3{color:#FF6600;font-weight:bold;width:150px;}
    .Estilo7{color:#006699;font-weight:bold;}
    .Estilo8{color:#003366;font-weight:bold;}
    .Estilo10{font-size:14px;font-weight:normal;font-family:"Trebuchet MS";}
    .Estilo11{color:#003366;}
</style>
<table width="75%" border="0">
    <tr>
        <td align="right"><img src="{{ logoCopi }}" /></td>
    </tr>
  <tr>
      <td colspan="2"><p class="Estilo8">El Administrador ha aceptado los cambios.</p></td>
  </tr>
</table>