<ul class="nav nav-collapse collapse nav-collapse-primary">
	<li id="link1">
		<span class="glow"></span>
		<a href="{{ path("admin_usuario") }}">
		<i class="icon-user icon-2x"></i>
			<span>Usuarios</span>
		</a>
	</li>
	 <li id="link2" class="">
		<span class="glow"></span>
		<a href="{{ path("admin_administrador") }}">
		<i class="icon-exchange icon-2x"></i>
			<span>Carga de data</span>
		</a>
	</li>
	<li id="link3" class="">
		<span class="glow"></span>
		<a href="{{ path("admin_administrador") }}">
		<i class="icon-user icon-2x"></i>
			<span>Administradores</span>
		</a>
	</li>
	<li id="link4" class="hidden_field">
		<span class="glow"></span>
		<a href="administrador/loaddata">
		<i class="icon-envelope icon-2x"></i>
			<span>Envios</span>
		</a>
	</li>
</ul>